<h1> Welcome to MyIdeas </h1>

<p> This is where I am learning to be awesome at rails. </p>

<p> Let's go to the <%= link_to 'Idea', ideas_path %> that I have been working on! </p>

<%= link_to 'Go!', ideas_path %> 